.page_text .main_content_img {
	height: 100%;
	width: 50%;
	background-image: url(../img/pexels-photo1.png);
	position: fixed;
	top: 0;
	right: 0;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
}

.page_text .container .main_content_text .text_content .page-title h2 {
	margin: 20px 0;
}

.page_text .container .main_content_text .text_content {
	padding-right: 70px;
}

.page_text .container .main_content_text .text_content .page_text_content {
	border-bottom: 2px solid #fff;
	padding-bottom: 50px;
	margin-bottom: 45px;
}

.page_text .container .main_content_text .text_content:first-child .page-title h2 {
	margin-bottom: 70px;
	font-size: 40px;
}

.page_text .container .main_content_text .text_content:last-child .page_text_content {
	border-bottom: none;
	margin-bottom: 0;
}

@media screen and (max-width: 996px){
	.page_text .main_content_img {
		height: 100%;
		width: 50%;
		background-image: url(../img/pexels-photo1.png);
		position: fixed;
		top: 0;
		right: 0;
		background-repeat: no-repeat;
		background-position: top right;
		background-size: cover;
		visibility: hidden;
	}
	.main_mobile_content_img{
		height: 200px;
		width: 100%;
		background-image: url(../img/pexels-photo1.png);
		position: relative;
		top: 0;
		right: 0;
		background-repeat: no-repeat;
		background-position: top right;
		background-size: cover;
		background-attachment: fixed;
	}
}

