.container .grid_items .item .favorites_item_content_wrapper h5 {
	font-size: 18px;
	line-height: 21px;
	color: #323438;
	margin: 28px 0 12px;
}
.container .grid_items .item .favorites_item_content_wrapper h5 span {
	color: #b6bac1;
}

.container .grid_items .item .favorites_item_content_wrapper .box p {
	color: #5b5d62;
	line-height: 18px;
}