header {
	background-color: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	transition: all .4s;
	z-index: 1000;
}

header {
	display: flex;
	justify-content: space-between;
}

.is-hidden {
	top: -115px;
	transition: all .4s;
}

.opacity {
	opacity: 0.5;
	transition: all .2s;
}

.opacity-hide {
	opacity: 1;
	transition: all .2s;
}

header img {
	width: 120px;
	margin: 17px 25px;
}

header ul {
	padding: 0;
	display: flex;
	justify-content: space-around;
	width: 75%;
	align-items: center;
}

header li {
	list-style-type: none;
	position: relative;
}

header li a {
	text-decoration: none;
	text-transform: uppercase;
	font: 700 15px "ClearSans-Regular", sans-serif;
	line-height: 21px;
	color: #464954;
}

header .drop:after {
	content: "";
	display: block;
	width: 9px;
	height: 6px;
	background-image: url(../img/arr_down.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 8px;
	right: -13px;
}

header .blue_item a {
	color: #0080c6;
	padding-left: 25px;
	position: relative;
}

header .blue_item a:before {
	content: "";
	display: inline-block;
	width: 21px;
	height: 20px;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-position: center;
	left: 0;
}

header .video-camera a:before {
	background-image: url(../img/video-camera.png)
}

header .star a:before {
	background-image: url(../img/star.png)
}

header .hidden {
	margin: 0;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	min-width: 100%;
	transition: all .2s;
	padding: 10px 0;
	flex-direction: column;
	align-items: flex-start;
	display: none;
}

header .hidden li {
	display: block;
	margin-top: 10px;
	padding-left: 10px;
	position: relative;
}

header .drop:hover .hidden {
	display: block;
	animation: drop .5s;
}

@keyframes drop {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.burger-mobile {
	background-color: $mainBlueColor;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	text-align: center;
	font-size: 0;
	.lines {
		display: inline-block;
		vertical-align: middle;
		width: 70%;
		height: 5px;
		background-color: #fff;
		transform: none;
		transition: all .5s;
		&:after, &:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background-color: #fff;
			position: relative;
			transform: none;
			transition: all .5s;
		}
		&:before {
			bottom: 10px;
		}
		&:after {
			top: 5px;
		}
	}
	&:after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 0;
		vertical-align: middle;
	}
	&.active {
		.lines {
			animation: rotateLeft .3s .3s forwards;
			&:before {
				animation: lineBeforePosition .3s forwards, rotateRight .3s .3s forwards;
			}
			&:after {
				animation: lineAfterPosition .3s forwards, rotateRight .3s .3s forwards;
			}
		}
	}
}

@keyframes lineBeforePosition {
	0% {
		bottom: 10px;
	}
	100% {
		bottom: 0px;
	}
}

@keyframes lineAfterPosition {
	0% {
		top: 5px;
	}
	100% {
		top: -5px;
	}
}

@keyframes rotateLeft {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

@keyframes rotateRight {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-90deg);
	}
}

@media (max-width: 1300px) {
	header li a {
		font-size: 11px;
	}
}

@media (max-width: 996px) {
	header ul {
		display: none;
	}
}
