header {
	background-color: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	transition: all .4s;
	z-index: 1000;
}

header {
	display: flex;
	justify-content: space-between;
}

.is-hidden {
	top: -111px;
	transition: all .4s;
}

header img {
	margin: 17px 25px;
}

header ul {
	padding: 0;
	display: flex;
	justify-content: space-around;
	width: 75%;
	align-items: center;
}

header li {
	list-style-type: none;
	position: relative;
}

header li a {
	text-decoration: none;
	text-transform: uppercase;
	font: 700 15px "ClearSans-Regular", sans-serif;
	line-height: 21px;
	color: #464954;
}

header .drop:after {
	content: "";
	display: block;
	width: 9px;
	height: 6px;
	background-image: url(../img/arr_down.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 8px;
	right: -13px;
}

header .blue_item a {
	color: #0080c6;
	padding-left: 25px;
	position: relative;
}

header .blue_item a:before {
	content: "";
	display: inline-block;
	width: 21px;
	height: 20px;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-position: center;
	left: 0;
}

header .video-camera a:before {
	background-image: url(../img/video-camera.png)
}

header .star a:before {
	background-image: url(../img/star.png)
}

header .hidden {
	margin: 0;
	opacity: 0;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	min-width: 100%;
	transition: all .2s;
	padding: 10px 0;
	flex-direction: column;
	align-items: flex-start;
}

header .hidden li {
	display: block;
	margin-top: 10px;
	padding-left: 10px;
	position: relative;
}

header .drop:hover .hidden {
	opacity: 1;
	transition: all .2s;
}

.bar-wrapper{
	visibility: hidden;
}

@media screen and(max-width: 1200px){
	header li a {
		font-size: 12px;

	}
}

@media (max-width: 960px){
body{

	padding-top: 0px;

	header {
		display: block;
		width: 250px;
		height: 100%;
		position: fixed;
	  left: -250px;
	  box-sizing: border-box;
	  transition: background, left .4s;
	  z-index: 9998;
			ul {
				padding: 0px 60px;
				display: block;
				justify-content: space-around;
				width: 100%;
				align-items: center;
			}
			.swipe-area{

				.bar-wrapper{
					  position: absolute;
					  display: block;
						width: 50px;
						height: 50px;
						// background-color: black;
						left: 100%;
						visibility: visible;

					.nav-icon{
						margin-left: 10px;
							span{
								position: absolute;
								height: 5px;
								width: 33px;
								background-color: $mainBlueColor;
							}

							:nth-child(1){
								top: 10px;
								border-radius: 28px 28px 0 0;
							}
							:nth-child(2){
								top: 20px;
							}
							:nth-child(3){
								top: 30px;
								border-radius: 0 0 28px 28px;
								}






				}
			}

	}

	&.open{
			left: 0;
			transition: background, left .4s;
		}

	}
}
}



body header .swipe-area .bar-wrapper .nav-icon {
 
  transform: rogate(0deg);
 
  transition: all 0.3s ease-in-out;
}
body header .swipe-area .bar-wrapper .nav-icon span:nth-child(1) {

  transform-origin: right center;
}
body header .swipe-area .bar-wrapper .nav-icon span:nth-child(2) {
 
  transform-origin: right center;
}
body header .swipe-area .bar-wrapper .nav-icon span:nth-child(3) {
 
  transform-origin: right center;
}
body header .swipe-area .bar-wrapper .nav-icon#openBurger {

  transform: rotate(360deg);
}
body header .swipe-area .bar-wrapper .nav-icon#openBurger span:nth-child(1) {
  transform: rotate(-45deg);
  top: 7px;
  width: 50%;
  left: calc(50% - 33px);
}
body header .swipe-area .bar-wrapper .nav-icon#openBurger span:nth-child(2) {
  left: -5px;
}
body header .swipe-area .bar-wrapper .nav-icon#openBurger span:nth-child(3) {
  transform: rotate(45deg);
  top: 33px;
  left: calc(50% - 33px);
  width: 50%;
}
