header {
	background-color: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	transition: all .4s;
	z-index: 1000;
}

header {
	display: flex;
	justify-content: space-between;
}

.is-hidden {
	top: -111px;
	transition: all .4s;
}

header img {
	margin: 17px 25px;
}

header ul {
	padding: 0;
	display: flex;
	justify-content: space-around;
	width: 75%;
	align-items: center;
}

header li {
	list-style-type: none;
	position: relative;
}

header li a {
	text-decoration: none;
	text-transform: uppercase;
	font: 700 15px "ClearSans-Regular", sans-serif;
	line-height: 21px;
	color: #464954;
}

header .drop:after {
	content: "";
	display: block;
	width: 9px;
	height: 6px;
	background-image: url(../img/arr_down.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 8px;
	right: -13px;
}

header .blue_item a {
	color: #0080c6;
	padding-left: 25px;
	position: relative;
}

header .blue_item a:before {
	content: "";
	display: inline-block;
	width: 21px;
	height: 20px;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-position: center;
	left: 0;
}

header .video-camera a:before {
	background-image: url(../img/video-camera.png)
}

header .star a:before {
	background-image: url(../img/star.png)
}

header .hidden {
	margin: 0;
	opacity: 0;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	min-width: 100%;
	transition: all .2s;
	padding: 10px 0;
	flex-direction: column;
	align-items: flex-start;
}

header .hidden li {
	display: block;
	margin-top: 10px;
	padding-left: 10px;
	position: relative;
}

header .drop:hover .hidden {
	opacity: 1;
	transition: all .2s;
}

@media screen and(max-width: 1200px){
	header li a {
		font-size: 12px;

	}
}

@media (max-width: 960px){
	header {
		display: block;
		width: 250px;
		height: 100%;
		position: fixed;
	  left: -250px;
	  box-sizing: border-box;
	  transition: background, left .4s;
	  z-index: 9998;
			ul {
				padding: 0px 60px;
				display: block;
				justify-content: space-around;
				width: 100%;
				align-items: center;
			}
			.swipe-area{

				.bar-wrapper{
					  position: absolute;
					  display: block;
						width: 50px;
						height: 50px;
						background-color: black;
						left: 100%;

					.nav-icon{


					}
				}
			}

	}

	header.open{
			left: 0;
			transition: background, left .4s;
		}

}
