.main-bottom-map-wrapper{
  position: relative;
  .main-bottom-map{
    height: 500px;
    min-height: 100vh;
  }
  .main-bottom-map-info-block{
    border-radius: 2px;
    background-color: rgba(0, 128, 198, 0.95);
    padding: 45px 175px 45px 45px;
    color: #fff;
    position: absolute;
    top:50%;
    right: 15%;
    transform: translateY(-50%);
    font: 700 15px "ClearSans-Regular", sans-serif;
    line-height: 21px;
    .main-bottom-map-info-block-title h2{
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 0 25px 0;
    }
    .main-bottom-map-info-block-content h3{
      color: #bbdbec;
      font-size: 15px;
      font-weight: 400;
    }
    .main-bottom-map-info-block-content .main-bottom-map-info-block-content-number {
      &, & a, a {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        text-decoration: none;
      }
    }
    .main-bottom-map-info-block-content .main-bottom-map-info-block-content-email {
      &, & a, a {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
      }
    }
    .main-bottom-map-social-block{
      position: absolute;
      bottom: 35px;
      right: 50px;
      text-align: center;
      ul{
        padding: 0;
        margin: 0;
        li{
          list-style-type: none;
          padding: 10px 0;
        }
      }
    }
  }
}

.contacts {
  width: 100%;
  height: 585px;
  position: relative;
  .info {
    position: absolute;
    width: 375px;
    top: 50%;
    transform: translateY(-50%);
    right: 105px;
    background-color: rgba(#0c87cd, .9);
    padding: 30px;
    color: #fff;
    white-space: nowrap;
  }
  .title {
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .text {
    font-family: "ClearSans-Regular";
    font-size: 16px;
    color: rgba(#fff, .6);
    margin: 30px 0 10px 0;
  }
  .number {
    font-family: "ClearSans-Bold";
    font-size: 22px;
    margin-bottom: 5px;
  }
  .mail {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(#fff, .6);
    &:hover {
      border: none;
    }
  }
  .info-left {
    display: inline-block;
    padding-right: 30px;
  }
  .info-right {
    text-align: center;
    display: inline-block;
  }
  .icon {
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 768px) {
  .main-bottom-map-wrapper .main-bottom-map-info-block {
    top: 0;
    right: 0;
    transform: none;
  }
}

@media (max-width: 520px) {
  .main-bottom-map-wrapper .main-bottom-map-info-block {
    position: relative;
    padding: 20px;
  }
}
