.page-title {
	text-align: left;
	h1 {
		margin: 15px auto 40px auto;

		font-family: Arial;
		font-weight: bold;
		font-size: 40px;
		position: relative;
		display: inline-block;
		text-transform: uppercase;
	}
}