.page-title {
	text-align: left;
	h1 {
		margin: 15px auto 0 auto;
		font-family: "ClearSans-Bold", sans-serif;
		font-size: 40px;
		position: relative;
		display: inline-block;
		text-transform: uppercase;
	}
}