@font-face {
  font-family: "ClearSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ClearSans-Bold/ClearSans-Bold.eot") format("embedded-opentype"), url("../fonts/ClearSans-Bold/ClearSans-Bold.woff") format("woff"), url("../fonts/ClearSans-Bold/ClearSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ClearSans-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ClearSans-Regular/ClearSans-Regular.eot") format("embedded-opentype"), url("../fonts/ClearSans-Regular/ClearSans-Regular.woff") format("woff"), url("../fonts/ClearSans-Regular/ClearSans-Regular.ttf") format("truetype");
}

* {
	box-sizing: border-box; }

body {
	margin: 0; 
  background-color: #f2f7f8; 
  padding-top: 111px; 
  font-family: "ClearSans-Regular", sans-serif;
  font-size: 14px;
  position: relative;
}

main {
  width: 100%;
}

.container .button {
  display: block;
  color: #323438;
  line-height: 34px;
  font-size: 13px;
  text-decoration: none;
  width: 104px;
  height: auto;
  border-radius: 17px;
  background-color: #ffffff;
  border: none;
  float: right;
  text-align: center;
}

@import "domiratv";
@import "breadCrumbs";
@import "pageTitle";
@import "footer";
@import "header";
@import "bootstrap";
@import "newsDomira";
@import "newsDetailsDomira";
@import "favoritesDomira";
@import "aboutDomira";
@import "homeDomira";
@import "apartmentDomira";