@font-face {
  font-family: "ClearSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ClearSans-Bold/ClearSans-Bold.eot") format("embedded-opentype"), url("../fonts/ClearSans-Bold/ClearSans-Bold.woff") format("woff"), url("../fonts/ClearSans-Bold/ClearSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "ClearSans-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ClearSans-Regular/ClearSans-Regular.eot") format("embedded-opentype"), url("../fonts/ClearSans-Regular/ClearSans-Regular.woff") format("woff"), url("../fonts/ClearSans-Regular/ClearSans-Regular.ttf") format("truetype"); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #f2f7f8;
  padding-top: 91px;
  font-family: "ClearSans-Regular", sans-serif;
  font-size: 14px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

@media (max-width: 996px) {
  body {
    padding-top: 87px; } }

main {
  width: 100%; }

.container .button {
  display: block;
  color: #323438;
  line-height: 34px;
  font-size: 13px;
  text-decoration: none;
  width: 104px;
  height: auto;
  border-radius: 17px;
  background-color: #ffffff;
  border: none;
  float: right;
  text-align: center; }

.movie-media-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.movie-media-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-left: -12px; }

.movie-media-block-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 15px;
  text-align: center;
  width: 200px;
  min-width: 330px;
  margin-bottom: 50px; }

.movie-media-video {
  height: auto; }

.movie-media-block-item .thumbnail {
  width: 100%;
  height: 100%;
  display: block; }

.movie-media-block-item iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  height: calc(100% - 49px); }

/*8*/
.player {
  height: calc(100% - 70px);
  display: block;
  position: absolute;
  width: 94%;
  left: 0;
  top: 15px;
  padding-left: 3%; }

.player frame {
  height: 100%; }

#start_player1 {
  /*display: none;*/
  position: absolute;
  top: 74%;
  left: 16%;
  display: none; }

.start-video {
  display: block;
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0%;
  left: 0%; }

.start-video-play {
  position: absolute;
  padding: 12px;
  opacity: .3;
  cursor: pointer;
  transition: all 0.3s;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.start-video-play:hover {
  opacity: 1;
  -webkit-filter: brightness 1; }

.thumbnail_container {
  height: auto;
  overflow: hidden;
  background-color: #000;
  position: relative; }

img.thumbnail {
  opacity: 0.5; }

.movie-media-control {
  width: 94%;
  position: absolute;
  height: 60%;
  background-color: rgba(0, 148, 255, 0);
  top: 6%;
  display: none; }

.movie-media-control-pause {
  display: block;
  width: 100%;
  height: 100%; }

.movie-media-content-wraper {
  position: relative;
  text-align: left;
  margin-top: 20px; }

.movie-media-content-title {
  font-size: 18px;
  color: #323438;
  width: 100%;
  font-weight: 400;
  line-height: 21px; }

.movie-media-content-description {
  margin-top: 12px;
  color: #5b5d62;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; }

.breadcrumbs ul {
  margin: 20px 0;
  text-align: left;
  padding-left: 0px; }
  .breadcrumbs ul li {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #0080c6;
    display: inline-block; }
    .breadcrumbs ul li a {
      text-decoration: none;
      color: inherit; }
    .breadcrumbs ul li:not(:first-of-type):before {
      content: '>';
      display: inline-block;
      color: #bec0c8;
      padding: 0 10px;
      font-family: HelveticaNeue, sans-serif; }
    .breadcrumbs ul li:last-of-type {
      color: #464954; }
    .breadcrumbs ul li:not(:last-of-type):hover {
      text-decoration: underline; }

.page-title {
  text-align: left; }
  .page-title h1, .page-title h2, .page-title h3, .page-title h4 {
    margin: 15px auto 0 auto;
    font-family: "ClearSans-Bold", sans-serif;
    font-size: 40px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #323438; }
  .page-title h2 {
    font-size: 28px;
    margin: 0 auto 0 auto; }
  .page-title h3 {
    font-size: 34px;
    margin: 0 auto 0 auto; }
  .page-title h4 {
    font-size: 30px;
    margin: 0 auto 0 auto; }

footer {
  background-color: #fff;
  width: 100%;
  padding: 25px 0;
  text-align: center;
  color: #b2b8ba;
  line-height: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font: 400 13px "ClearSans-Regular", sans-serif;
  z-index: 9000;
  position: absolute;
  bottom: 0;
  left: 0; }

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  transition: all .4s;
  z-index: 1000; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.is-hidden {
  top: -115px;
  transition: all .4s; }

.opacity {
  opacity: 0.5;
  transition: all .2s; }

.opacity-hide {
  opacity: 1;
  transition: all .2s; }

header img {
  width: 120px;
  margin: 17px 25px; }

header ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

header li {
  list-style-type: none;
  position: relative; }

header li a {
  text-decoration: none;
  text-transform: uppercase;
  font: 700 15px "ClearSans-Regular", sans-serif;
  line-height: 21px;
  color: #464954; }

header .drop:after {
  content: "";
  display: block;
  width: 9px;
  height: 6px;
  background-image: url(../img/arr_down.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 8px;
  right: -13px; }

header .blue_item a {
  color: #0080c6;
  padding-left: 25px;
  position: relative; }

header .blue_item a:before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 20px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-position: center;
  left: 0; }

header .video-camera a:before {
  background-image: url(../img/video-camera.png); }

header .star a:before {
  background-image: url(../img/star.png); }

header .hidden {
  margin: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 100%;
  transition: all .2s;
  width: auto;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: none; }

header .hidden li {
  display: block;
  margin-top: 10px;
  padding-left: 10px;
  position: relative; }

header .drop:hover .hidden {
  display: block;
  -webkit-animation: drop .5s;
          animation: drop .5s; }

@-webkit-keyframes drop {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes drop {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.burger-mobile {
  display: none;
  background-color: #0080c6;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  text-align: center;
  font-size: 0; }
  .burger-mobile .lines {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    height: 5px;
    background-color: #fff;
    transition: all .3s; }
    .burger-mobile .lines:after, .burger-mobile .lines:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: relative;
      transition: all .5s; }
    .burger-mobile .lines:before {
      bottom: 10px; }
    .burger-mobile .lines:after {
      top: 5px; }
  .burger-mobile:after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle; }
  .burger-mobile.open .lines {
    background-color: transparent; }
    .burger-mobile.open .lines:before {
      bottom: 0px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .burger-mobile.open .lines:after {
      top: -5px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }

@media (max-width: 1300px) {
  header li a {
    font-size: 11px; } }

@media (max-width: 996px) {
  .burger-mobile {
    display: block; }
  header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    header img {
      margin: 15px; }
  header ul:not(.hidden) {
    display: block;
    max-width: 50px;
    max-height: 50px;
    background-color: #0080c6;
    position: absolute;
    top: calc(50% - 25px);
    left: 10px;
    margin: 0;
    transition: top .2s .3s linear, max-height .3s linear, max-width .3s linear, border-radius .3s linear;
    padding: 10px;
    overflow: hidden; }
    header ul:not(.hidden) a {
      color: #fff;
      transition: opacity .3s;
      font-size: 15px;
      line-height: 15px;
      opacity: 0; }
    header ul:not(.hidden) li {
      padding-top: 5px; }
    header ul:not(.hidden) .drop:after {
      content: none; }
    header ul:not(.hidden) .drop .hidden {
      padding: 5px 0;
      padding-left: 20px;
      -webkit-animation: none;
              animation: none;
      position: static;
      display: block;
      background-color: transparent; }
      header ul:not(.hidden) .drop .hidden:before, header ul:not(.hidden) .drop .hidden:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        position: static;
        background-color: #0070ad;
        position: relative;
        right: 20px; }
      header ul:not(.hidden) .drop .hidden li {
        margin: 0;
        padding-top: 5px;
        padding-left: 0; }
        header ul:not(.hidden) .drop .hidden li:last-of-type {
          padding-bottom: 5px; }
        header ul:not(.hidden) .drop .hidden li a {
          transition: opacity .3s;
          line-height: 15px;
          opacity: 0; }
    header ul:not(.hidden).active {
      transition: top .2s linear, max-height .3s linear .2s, max-width .3s linear .2s, border-radius .3s linear .2s;
      top: calc(50% + 25px);
      max-height: 90vh;
      max-width: 150px;
      border-radius: 20px;
      border-top-left-radius: 0px; }
      header ul:not(.hidden).active a {
        transition: opacity .3s .5s;
        opacity: 1; }
      header ul:not(.hidden).active .drop .hidden li a {
        transition: opacity .3s .5s;
        opacity: 1; } }

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 60px 15px 100px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.container .gridItems .item .item_image_wrapper img {
  max-width: 360px;
  background-size: cover; }

.container .grid_items .item .item_content_wrapper .box__in a {
  color: #0080c6;
  line-height: 21px;
  font-size: 17px;
  height: 50px;
  display: block; }

.container .grid_items .item .item_content_wrapper p,
.container .main_content_details .text_content_details .page_text_content p {
  color: #5b5d62;
  line-height: 18px;
  margin: 0; }

.container .grid_items .item .item_content_wrapper span,
.container .main_content_details .text_content_details span {
  color: #989b9c;
  line-height: 40px;
  font-size: 13px;
  margin-left: 20px;
  position: relative; }

.container .grid_items .item .item_content_wrapper span:before,
.container .main_content_details .text_content_details span:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 11px;
  background-image: url(../img/calendar.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 2px;
  left: -17px; }

.container .grid_items .item .item_content_wrapper:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.container .grid_items .item {
  margin-top: 45px; }

.container .grid_items .item .item_content_wrapper .box {
  overflow: hidden;
  height: 40px;
  width: auto; }

.container .grid_items .item .item_content_wrapper .box2 {
  height: 60px;
  margin: 20px 0 23px; }

.container .grid_items .item .item_content_wrapper .box__in {
  -webkit-column-width: auto;
  column-width: auto;
  height: 100%; }

.container .main_content_details .img_content_details img {
  max-width: 100%;
  background-size: cover;
  display: block;
  margin: 20px auto; }

.container .main_content_details .text_content_details .page_text_content {
  margin-top: 30px; }

.container .main_content_details .text_content_details .page-title h1 {
  margin: 0;
  font-size: 34px;
  font-family: "ClearSans-Bold", sans-serif;
  line-height: 39px; }

.container .main_content_details .text_content_details {
  padding-right: 20px; }

.container .main_content_details .text_content_details .page_text_content p,
.container .main_content_text .text_content .page_text_content p,
.container .secondary_content_apartment .page_text_content p {
  line-height: 22px;
  font-size: 16px;
  color: #464954; }

.container .main_content_details .text_content_details:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.container .main_content_details {
  padding-bottom: 100px;
  border-bottom: 2px solid #fff;
  margin-bottom: 55px; }

.container .grid_items .item .favorites_item_content_wrapper h5 {
  font-size: 18px;
  line-height: 21px;
  color: #323438;
  margin: 28px 0 12px; }

.container .grid_items .item .favorites_item_content_wrapper h5 span {
  color: #b6bac1; }

.container .grid_items .item .favorites_item_content_wrapper .box p {
  color: #5b5d62;
  line-height: 18px; }

.item_image_wrapper img {
  width: 100%; }

.page_text .main_content_img {
  height: 100%;
  width: 50%;
  background-image: url(../img/pexels-photo1.png);
  position: fixed;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover; }

.page_text .container .main_content_text .text_content .page-title h2 {
  margin: 20px 0; }

.page_text .container .main_content_text .text_content {
  padding-right: 70px; }

.page_text .container .main_content_text .text_content .page_text_content {
  border-bottom: 2px solid #fff;
  padding-bottom: 50px;
  margin-bottom: 45px; }

.page_text .container .main_content_text .text_content:first-child .page-title h2 {
  margin-bottom: 70px;
  font-size: 40px; }

.page_text .container .main_content_text .text_content:last-child .page_text_content {
  border-bottom: none;
  margin-bottom: 0; }

@media screen and (max-width: 996px) {
  .page_text .main_content_img {
    height: 100%;
    width: 50%;
    background-image: url(../img/pexels-photo1.png);
    position: fixed;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    visibility: hidden; }
  .main_mobile_content_img {
    height: 200px;
    width: 100%;
    background-image: url(../img/pexels-photo1.png);
    position: relative;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    background-attachment: fixed; } }

main .wrapper .container .layout .button {
  float: none;
  background-color: #0080c6;
  color: #fff;
  margin: 0 auto; }
  main .wrapper .container .layout .button:hover {
    background-color: #6db6dc;
    color: #fff; }

main .wrapper .container .layout ul {
  padding: 0;
  display: inline-block;
  margin-bottom: 60px; }

main .wrapper .container .layout ul li {
  list-style-type: none;
  display: inline-block;
  background-color: #fff;
  margin: 0;
  padding: 20px 30px;
  position: relative; }

main .wrapper .container .layout ul li a {
  color: #0080c6;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 2px dotted #0080c6;
  line-height: 30px;
  transition: all 0.2s; }

main .wrapper .container .layout {
  text-align: center; }

main .wrapper .container .layout .layout_img {
  display: none;
  text-align: center;
  margin-bottom: 30px; }

main .wrapper .container .layout .active {
  display: inline-block; }

main .wrapper .container .layout .active_li a {
  color: #323438;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: none;
  transition: all 0.2s; }

main .wrapper .container .layout ul li::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-left: 10px solid #fff;
  border-top: 10px solid #fff;
  bottom: -20px;
  left: 30px;
  display: none; }

main .wrapper .container .layout .active_li:after {
  display: block; }

main .wrapper .container .layout .page-title {
  text-align: center;
  position: relative;
  padding: 0 95px;
  margin-bottom: 60px; }

main .wrapper .container .layout .page-title h3 {
  display: inline-block; }

.wrapper .container .layout .page-title::before {
  content: '';
  display: block;
  width: 90px;
  height: 2px;
  background-color: #323438;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.wrapper .container .layout .page-title::after {
  content: '';
  display: block;
  width: 90px;
  height: 2px;
  background-color: #323438;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.top5-planing {
  min-height: 100vh; }

.image-block {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .image-block .background-pic {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 45%; }
  .image-block__text {
    width: 55%;
    position: relative;
    background-color: #3b3f4d;
    color: #fff;
    background-image: url("../img/background-image-block.png");
    background-repeat: no-repeat;
    background-position: -150px -150px; }
    .image-block__text .content-wrapper {
      position: absolute;
      top: 50%;
      left: 10%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 60%;
      font-size: 15px; }
      .image-block__text .content-wrapper h2 {
        text-transform: uppercase;
        font-family: "ClearSans-Bold";
        font-size: 40px; }

@media (any-hover: hover) {
  main .wrapper .container .layout ul li:hover a,
  main .wrapper .container .layout ul li:active a {
    color: #323438;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: none;
    transition: all 0.2s; }
  main .wrapper .container .layout li:hover::after {
    display: block; } }

@media (max-width: 768px) {
  main .wrapper .container .layout .layout_img img {
    width: 100%; }
  .image-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .image-block .background-pic {
      width: 100%;
      min-height: 500px; }
    .image-block__text {
      width: 100%; }
      .image-block__text .content-wrapper {
        position: static;
        -webkit-transform: none;
                transform: none;
        width: 90%;
        margin: 30px auto; } }

@media (max-width: 520px) {
  main .wrapper .container .layout .page-title {
    padding: 0; }
    main .wrapper .container .layout .page-title:after, main .wrapper .container .layout .page-title:before {
      content: none; }
  .image-block .background-pic {
    min-height: 300px; } }

.main-bottom-map-wrapper {
  position: relative; }
  .main-bottom-map-wrapper .main-bottom-map {
    height: 500px;
    min-height: 100vh; }
  .main-bottom-map-wrapper .main-bottom-map-info-block {
    border-radius: 2px;
    background-color: rgba(0, 128, 198, 0.95);
    padding: 45px 175px 45px 45px;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 15%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font: 700 15px "ClearSans-Regular", sans-serif;
    line-height: 21px;
    z-index: 1; }
    .main-bottom-map-wrapper .main-bottom-map-info-block .main-bottom-map-info-block-title h2 {
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 0 25px 0; }
    .main-bottom-map-wrapper .main-bottom-map-info-block .main-bottom-map-info-block-content h3 {
      color: #bbdbec;
      font-size: 15px;
      font-weight: 400; }
    .main-bottom-map-wrapper .main-bottom-map-info-block .main-bottom-map-info-block-content .main-bottom-map-info-block-content-number, .main-bottom-map-wrapper .main-bottom-map-info-block .main-bottom-map-info-block-content .main-bottom-map-info-block-content-number a, .main-bottom-map-wrapper .main-bottom-map-info-block .main-bottom-map-info-block-content .main-bottom-map-info-block-content-number a {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      text-decoration: none; }
    .main-bottom-map-wrapper .main-bottom-map-info-block .main-bottom-map-info-block-content .main-bottom-map-info-block-content-email, .main-bottom-map-wrapper .main-bottom-map-info-block .main-bottom-map-info-block-content .main-bottom-map-info-block-content-email a, .main-bottom-map-wrapper .main-bottom-map-info-block .main-bottom-map-info-block-content .main-bottom-map-info-block-content-email a {
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: none; }
    .main-bottom-map-wrapper .main-bottom-map-info-block .main-bottom-map-social-block {
      position: absolute;
      bottom: 35px;
      right: 50px;
      text-align: center; }
      .main-bottom-map-wrapper .main-bottom-map-info-block .main-bottom-map-social-block ul {
        padding: 0;
        margin: 0; }
        .main-bottom-map-wrapper .main-bottom-map-info-block .main-bottom-map-social-block ul li {
          list-style-type: none;
          padding: 10px 0; }

.contacts {
  width: 100%;
  height: 585px;
  position: relative; }
  .contacts .info {
    position: absolute;
    width: 375px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 105px;
    background-color: rgba(12, 135, 205, 0.9);
    padding: 30px;
    color: #fff;
    white-space: nowrap; }
  .contacts .title {
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .contacts .text {
    font-family: "ClearSans-Regular";
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    margin: 30px 0 10px 0; }
  .contacts .number {
    font-family: "ClearSans-Bold";
    font-size: 22px;
    margin-bottom: 5px; }
  .contacts .mail {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
    .contacts .mail:hover {
      border: none; }
  .contacts .info-left {
    display: inline-block;
    padding-right: 30px; }
  .contacts .info-right {
    text-align: center;
    display: inline-block; }
  .contacts .icon {
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: 10px; }
    .contacts .icon img {
      width: 100%; }
    .contacts .icon:last-of-type {
      margin-bottom: 0; }

@media (max-width: 768px) {
  .main-bottom-map-wrapper .main-bottom-map-info-block {
    top: 0;
    right: 0;
    -webkit-transform: none;
            transform: none; } }

@media (max-width: 520px) {
  .main-bottom-map-wrapper .main-bottom-map-info-block {
    position: relative;
    padding: 20px; } }

.banner-container::after {
  display: table;
  content: '';
  clear: both; }

.banner-container .banner-container-half {
  float: left;
  width: 50%;
  display: inline-block;
  height: 100%;
  background-color: red; }

.banner-container .banner-container-half:last-child {
  background-color: #343744; }

.banner-container .jk-list {
  height: 750px;
  position: relative;
  overflow: hidden;
  min-height: 100vh; }
  .banner-container .jk-list .jk-list-track {
    position: relative;
    transition: top .3s; }
  .banner-container .jk-list .jk-list-item {
    color: #fff;
    height: 250px;
    overflow: hidden;
    position: relative;
    font: 700 15px "ClearSans-Regular", sans-serif; }
    .banner-container .jk-list .jk-list-item img {
      opacity: 0.1;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      z-index: 0; }
    .banner-container .jk-list .jk-list-item .jk-list-item-content {
      display: inline-block;
      position: absolute;
      z-index: 1;
      width: 500px;
      top: 50%;
      left: 50px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      .banner-container .jk-list .jk-list-item .jk-list-item-content .jk-list-item-title {
        position: relative;
        display: inline-block; }
        .banner-container .jk-list .jk-list-item .jk-list-item-content .jk-list-item-title .jk-list-item-title-flag {
          position: absolute;
          left: 105%;
          bottom: 0;
          background-color: #0080c6;
          border-radius: 1px;
          display: inline-block;
          padding: 5px;
          text-transform: uppercase;
          font-size: 16px; }
        .banner-container .jk-list .jk-list-item .jk-list-item-content .jk-list-item-title h2 {
          display: inline-block;
          margin: 0;
          font-size: 26px;
          font-weight: 700;
          line-height: 28px;
          text-transform: uppercase;
          font-family: "ClearSans-Bold"; }
      .banner-container .jk-list .jk-list-item .jk-list-item-content .jk-list-item-text {
        color: #d6d9e1;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px; }
        .banner-container .jk-list .jk-list-item .jk-list-item-content .jk-list-item-text a {
          color: #0080c6;
          font-size: 16px;
          text-decoration: none; }
          .banner-container .jk-list .jk-list-item .jk-list-item-content .jk-list-item-text a:hover {
            text-decoration: underline; }
  .banner-container .jk-list .jk-list-nav {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 1px;
    background-color: #0080c6;
    width: 50px; }
    .banner-container .jk-list .jk-list-nav .jk-list-nav-item {
      width: 30px;
      height: 40px;
      margin: 5px auto;
      background-color: #0070ae;
      background-position: center center;
      background-repeat: no-repeat; }
      .banner-container .jk-list .jk-list-nav .jk-list-nav-item:hover {
        cursor: pointer;
        background-color: #00669f; }
    .banner-container .jk-list .jk-list-nav .up {
      background-image: url("../img/nav-up.png"); }
    .banner-container .jk-list .jk-list-nav .down {
      background-image: url("../img/nav-down.png"); }

.main-map-top-block {
  min-height: 100vh;
  height: 750px; }

@media (max-width: 996px) {
  .main-map-top-block {
    display: none; }
  .banner-container .banner-container-half {
    width: 100%; }
  .banner-container .jk-list .jk-list-item .jk-list-item-content {
    max-width: 500px;
    width: auto;
    margin-right: 50px; } }

@media (max-width: 520px) {
  .banner-container .jk-list .jk-list-item .jk-list-item-content {
    left: 20px; }
    .banner-container .jk-list .jk-list-item .jk-list-item-content .jk-list-item-title .jk-list-item-title-flag {
      position: static;
      margin: 10px 0; } }

.news-and-sales {
  background-color: white;
  background: linear-gradient(to right, white 0%, white 50%, #0085c8 50%, #0085c8 100%);
  min-height: 100vh; }
  .news-and-sales h3 {
    margin: 0;
    font-family: "ClearSans-Bold";
    font-size: 34px;
    color: #323438;
    display: inline-block;
    margin-bottom: 30px; }
  .news-and-sales .all-news {
    font-family: "ClearSans-Regular";
    color: #323438;
    font-size: 13px;
    text-decoration: none;
    padding: 7px 15px;
    background-color: #f0f5f7;
    border-radius: 16px;
    float: right;
    margin: 10px 10px 0; }
    .news-and-sales .all-news:hover {
      background-color: #6db6dc;
      color: #fff; }
  .news-and-sales .col-50 {
    width: 50%;
    float: left;
    padding: 30px; }
  .news-and-sales table {
    width: 100%; }
  .news-and-sales .news-item .content, .news-and-sales .news-item .image {
    padding: 20px 0; }
  .news-and-sales .news-item .image img {
    width: 200px; }
  .news-and-sales .news-item .content {
    padding-left: 20px; }
    .news-and-sales .news-item .content a {
      color: #0080c6;
      font-size: 20px;
      display: inline-block;
      position: relative;
      text-decoration: none; }
    .news-and-sales .news-item .content a:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 0;
      transition: width 0s ease, background .5s ease; }
    .news-and-sales .news-item .content a:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 2px;
      width: 0;
      background: #0080c6;
      transition: width .5s ease; }
    .news-and-sales .news-item .content a:hover:before {
      width: 100%;
      background: #0080c6;
      transition: width .5s ease; }
    .news-and-sales .news-item .content a:hover:after {
      width: 100%;
      background: transparent;
      transition: all 0s ease; }
  .news-and-sales .news-item .date {
    color: #989b9c;
    margin-top: 20px; }
    .news-and-sales .news-item .date:before {
      content: '';
      display: inline-block;
      background-image: url("../img/calendar.png");
      background-repeat: no-repeat;
      width: 10px;
      height: 11px;
      margin-right: 10px; }
  .news-and-sales .news-item:not(:last-of-type) td {
    border-bottom: dotted 2px #eee; }
  .news-and-sales .sales h3 {
    color: #fff; }
  .news-and-sales .sales .arrow-prev, .news-and-sales .sales .arrow-next {
    float: right;
    color: #fff;
    background-color: #0072b0;
    padding: 10px 20px;
    margin-right: 3px;
    margin-top: 10px;
    cursor: pointer; }
    .news-and-sales .sales .arrow-prev:hover, .news-and-sales .sales .arrow-next:hover {
      background-color: #00517d; }
  .news-and-sales .sales h5 a {
    color: #f4fbff;
    font-family: "ClearSans-Bold";
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none; }
  .news-and-sales .sales .sales-item {
    margin-top: 30px; }
    .news-and-sales .sales .sales-item img {
      width: 100%; }
    .news-and-sales .sales .sales-item p {
      color: #c0deee;
      font-family: "ClearSans-Regular";
      font-size: 15px; }
  .news-and-sales .sales .arrow-prev {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; }
  .news-and-sales .sales .arrow-next {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; }

@media (max-width: 768px) {
  .news-and-sales {
    background: none; }
    .news-and-sales .col-50 {
      width: 100%; }
    .news-and-sales .news {
      background-color: #fff; }
    .news-and-sales .sales {
      background-color: #0085c8; } }

@media (max-width: 520px) {
  .news-and-sales .container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
  .news-and-sales .news-item .image {
    display: none; } }

main .container .main_content_apartment .img_content_apartment ul li {
  list-style-type: none;
  display: inline-block;
  background-color: #fff;
  margin: 0;
  display: inline-block;
  padding: 25px;
  margin-right: 20px;
  position: relative; }

main .container .main_content_apartment .img_content_apartment ul li::before {
  content: '';
  position: absolute;
  top: -40px;
  left: calc(50% - 20px);
  border: 20px solid transparent;
  border-bottom: 20px solid #fff;
  display: none; }

main .container .main_content_apartment .img_content_apartment li:hover::before,
main .container .main_content_apartment .img_content_apartment li:active::before,
main .container .main_content_apartment .img_content_apartment .planing-title .active_li:before {
  display: block; }

main .container .main_content_apartment .img_content_apartment li:hover a img,
main .container .main_content_apartment .img_content_apartment li:active a img {
  opacity: 0.2; }

main .container .main_content_apartment .planing-content a {
  display: none; }

main .container .main_content_apartment .planing-content .active {
  display: block; }

main .container .main_content_apartment .img_content_apartment ul {
  display: inline-block;
  padding: 0; }

main .container .main_content_apartment .img_content_apartment {
  text-align: center;
  max-width: 500px;
  min-width: 500px; }

main .container .main_content_apartment .img_content_apartment ul li:last-child {
  margin-right: 0; }

main .container .main_content_apartment .img_content_apartment .main_img {
  margin-bottom: 85px;
  margin-top: 50px; }

main .container .main_content_apartment {
  padding: 70px 0;
  border-bottom: 2px solid #fff;
  margin-bottom: 70px; }

main .container .main_content_apartment .info_content_apartment {
  max-width: 470px; }

main .container .main_content_apartment .info_content_apartment .number_of,
main .container .main_content_apartment .info_content_apartment .statistics,
main .container .main_content_apartment .info_content_apartment .model {
  width: 100%;
  background-color: #fff;
  padding: 50px;
  border-bottom: 2px solid #f3f7f8; }

main .container .main_content_apartment .info_content_apartment .model {
  border-bottom: none; }

main .container .main_content_apartment .info_content_apartment .number_of .flat {
  display: inline-block;
  color: #464954;
  line-height: 17px;
  margin: 0; }

main .container .main_content_apartment .info_content_apartment .number_of .flat .remaining {
  display: inline-block;
  width: 63px;
  font-size: 15px;
  margin-right: 15px; }

main .container .main_content_apartment .info_content_apartment .number_of .flat .number_of_flat {
  width: auto;
  font-size: 32px;
  font-family: "ClearSans-Bold", sans-serif; }

main .container .main_content_apartment .info_content_apartment .number_of .button {
  background-color: #f0f5f7;
  color: #0080c6;
  height: 44px;
  line-height: 44px;
  width: auto;
  padding-left: 58px;
  padding-right: 37px;
  position: relative; }

main .container .main_content_apartment .info_content_apartment .number_of .button::before {
  content: "";
  width: 13px;
  height: 13px;
  background-image: url(../img/star2.png);
  display: inline-block;
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% - 13px/2);
  left: 37px; }

main .container .main_content_apartment .info_content_apartment .statistics .item_stat,
main .container .main_content_apartment .info_content_apartment .number_of {
  margin: 25px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

main .container .main_content_apartment .info_content_apartment .statistics .item_stat:last-child {
  margin: 35px 0 0; }

main .container .main_content_apartment .info_content_apartment .statistics .item_stat:first-child {
  margin: 0 0 0; }

main .container .main_content_apartment .info_content_apartment .statistics .item_stat .area {
  color: #0080c6;
  font-family: "ClearSans-Bold";
  font-size: 16px;
  border-bottom: 2px dotted #0080c6; }

main .container .main_content_apartment .info_content_apartment .statistics .item_stat .use {
  color: #464954;
  font-size: 15px; }

main .container .main_content_apartment .info_content_apartment .statistics .item_stat .hr {
  background-color: #edf0f1;
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

main .container .main_content_apartment .info_content_apartment .statistics .item_stat:last-child .area {
  color: #464954;
  border-bottom: none; }

main .container .main_content_apartment .info_content_apartment .model .number_of {
  padding: 0;
  border-bottom: none;
  margin-top: 60px; }

main .container .main_content_apartment .info_content_apartment .model img {
  max-width: 360px; }

main .container .main_content_apartment .info_content_apartment .model .number_of .button::before {
  content: none;
  padding-left: 37px; }

main .container .main_content_apartment .info_content_apartment .model .number_of .button {
  padding-left: 37px;
  background-color: #0080c6;
  color: #fff;
  font-family: "ClearSans-Bold";
  font-size: 14px;
  text-transform: uppercase; }

@media screen and (max-width: 991px) {
  .item-video {
    text-align: center; } }

#location .canvas {
  position: relative;
  margin-top: 70px; }
  #location .canvas .canvas-img {
    width: 100%; }

#location #jk {
  position: absolute;
  top: 0;
  left: 0; }

#location .no-paddings {
  padding: 0; }

#location .stages {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #location .stages li {
    width: 100%;
    margin: 5px 0; }

#location .stage {
  display: inline-block;
  padding: 23px 20px;
  border-radius: 50%;
  line-height: 0;
  color: #0080c6;
  background-color: #fff;
  font-family: "ClearSans-Bold";
  cursor: pointer; }

#location .row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
